@import "../../libs/variables.scss";


.title{


    font-family: $fontTitle;
    font-size: 4.2rem;
    padding: 0 0 0 0.5rem;
    margin: 2rem 0 1rem 0;

    background-color: $col1;
    color: transparent;

    text-shadow: $shadH1;
    @include neomorph();
    
    justify-content: center;
    justify-items: center;
}